[submodule "Actividad4"]
	path = analisis-de-algoritmos/actividades/2-fuerza-bruta/4-edicion-de-cadena-de-caracteres
	url = git@github.com:Forajido24/Actividad4.git
[submodule "sistemas-operativos/scripts"]
	path = sistemas-operativos/scripts
	url = git@github.com:MrDonkey08/so_scripts.git
[submodule "chat_botka"]
	path = inteligencia-artificial/proyecto_chatbot
	url = git@github.com:MrDonkey08/chat_botka.git
[submodule "analisis-de-algoritmos/actividades/5-algoritmos-voraces/7-huffman"]
	path = analisis-de-algoritmos/actividades/5-algoritmos-voraces/7-huffman
	url = git@github.com:MrDonkey08/compresion_huffman.git
[submodule "huffman_fork"]
	path = analisis-de-algoritmos/actividades/5-algoritmos-voraces/7-huffman_fork
	url = git@github.com:MrDonkey08/huffman.git
[submodule "vrp"]
	path = analisis-de-algoritmos/proyecto
	url = git@github.com:Forajido24/ProyectoFinal.git
[submodule "bd_derrumbes"]
	path = bases-de-datos/bases-de-datos/proyecto/avance-3/
	url = git@github.com:MrDonkey08/bd_derrumbes.git
[submodule "bases-de-datos/proyecto/avance-3"]
	path = bases-de-datos/proyecto/avance-3
	url = git@github.com:MrDonkey08/bd_derrumbes.git
